@import 'tailwindcss';

@theme {
  --color-primary: #7e6df0;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  @keyframes stripes {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 56px 0;
    }
  }

  .animate-stripes {
    animation: stripes 1s linear infinite;
  }
}

html {
  font-size: 16px;
}

html,
body {
  font-family: var(--font-sans), sans-serif;
}

body {
  @apply text-[#2a2a2a] dark:text-white bg-[#f6f4ff] dark:bg-[#1a1a1a];
  min-width: 320px;
  min-height: 100vh;
}
